:root {
    --dark_blue: #0F2167;
    --white: #ffffff;
    --light-blue: #4CB9E7;
    --light-grey: #D3D3D3;
    --Bright-blue: #3559E0 ;
    --device-width: 100vw;
    --device-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--dark_blue);
    min-width: 600px;
    width: var(--device-width);
    height: var(--device-height);
    display: flex;
    justify-content: end;
}

#leftSide {
    background: var(--dark_blue);
    width: calc(var(--device-width) * 0.33); 
    height: var(--device-height);
}
#leftHedding{
    display: flex;
    height: calc(var(--device-height)*0.40);
    flex-direction: column;
}
#companyName{
    height: 45%;
    font-size: 5.7em;
    width: 170%;
    position: relative;
    word-spacing: 15px;
    color: var(--light-blue) ;
    padding-top: 25px;
    padding-left: 25px;
    font-weight: bold;
}
#quort{
    font-family: 'Roboto', sans-serif;
    padding-top: 12px;
    color: var(--light-blue) ;
    height: 55%;
    font-size: 2em;
    width: 100%;
    padding-left: 25px;
}
#IMG{
    height: calc(var(--device-height)*0.60);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#socialMediaLogo{
    display: flex;
    flex-direction: column;
    justify-content:end ;
    height: 100%;
    padding-bottom: 17px;
}
.logo {
    margin: 10px 0px 10px 0px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    display: flex;
    justify-self: end;
}
#diverImg{
    position: relative;
    left: 30%;
    width: 60%;
    height: calc(var(--device-height)*0.57);
    justify-self: end;
    border-radius: 15px;
}
#DiverIMG{
    border-radius: 15px;
    width: 100%;
    height: 100%;   
}


#rightSide {
    background-color: var(--white);
    width: calc(var(--device-width) * 0.66);
    height: var(--device-height);
    border-radius: 15px 0 0 15px;
}

#rightHedding{
 padding: 200px 200px 00px 350px; 
 font-size: 3em;
 color: var(--light-blue);
 font-weight: bold;
}

#name{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0px;
}
.textinput{
    border: solid 3px var(--light-grey) ;
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin: 20px 30px;
}
#email , #password{
    display: flex;
    justify-content: center;
}
#Email ,#Password{
    border: solid 3px var(--light-grey) ;
    border-radius: 5px;
    height: 30px;
    width: 660px;
}
#Password{
    margin-top: 20px;
    margin-bottom: 20px;
}
#createAccountBtn{
    border-radius: solid 10px #000;
    padding-left: 178px;
}
#createAccount{
    height: 35px;
    width: 300px;
    background-color: var(--Bright-blue);
    color: var(--white);
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
}
#lineORline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.line {
    height: 1px;
    width: 33%;
    background-color: var(--light-grey);
}

.or {
    padding: 0 10px;
}
#loginBtn{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0px;
}
#loginFacebookBtn, #loginGoogleBtn {
    border-radius: 5px;
    height: 35px;
    width: 300px;
    margin: 20px 30px;
    background-color: var(--Bright-blue);
    color: var(--white);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    border: 0px;
}

.logoBtn{
    height: 30px;
    width: 30px;
}
#facebooklogo{
    height: 25px;
}

#companyName,
#rightHedding {
    font-family: 'Aquino', sans-serif; 
}
